.boxDoados{
    // height: 70vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boxCard{
    width: 85vw;
    // height: 60vh;
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    article{
        border: solid 2px #005695;
        width: 200px;
        height: 32vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 13px;
        img{
            padding-bottom: 20px;
            width: 30%;
        }
    }
}


@media (max-width: 900px) {
    .boxCard{
        height: 80vh;
    }
    .boxDoados{
        height: 90vh;
    }
}